.i1{
    color: green;
}
div {
    display: block;
    border-left: 4px solid red;
    border-right: 4px solid yellow;
    border-top: 4px solid blue;
    border-bottom: 4px solid green;
}
main{
    background-image: url("gulls-3135962_960_720.jpg");
    background-size: cover;
    width: 25%;
    height: 500px;
}