form{
    width: 500px;
    height: 300px;
    background-image: url(depositphotos_21681717-stock-photo-check-mark.jpg);
    background-size: 99%;
    background-position: -170px 50px;
    text-align: left;
    padding: 10px;


}
.d1{
    text-align: left;
    margin-left: 140px;
    margin-top: 20px;
}
.b1{
    color: white;
    background-color: darkolivegreen;

}
legend{
    color: darkolivegreen;
}
fieldset{
    width: 500px;
    border-color: gold;


}
