body{
    font-size: 20px;
}

p{
    text-align:center;
}

.class1{
    color: red;
}

#id1{
    color: pink;
}

a{
    color: palevioletred;
}
ul > li > a:visited {
    color: green;
}
ul > li > ul > li > a:visited {
    color: red;
}
ul > li > ul{
    list-style-type:none
}
ul > li:last-child > ul{
    list-style-type: square;
}
ul > li:last-child > ul > li > a{
    text-decoration: none;
}
ul > li:nth-child(2) > ul > li:nth-child(2) > a{
    color: blue;
}