body {
    width: 450px;
    margin: 0;
    padding: 10px;

    font-size: 14px;
    font-family: "Arial", sans-serif;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;

    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo {
    font-weight: bold;
    float: left;
    width: 230px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

.contacts {
    float: right;
    width: 110px;
    background-color: #333333;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.about-us {
    width: 230px;
    margin-bottom: 20px;
}

.about-us h1 {
    font-size: 20px;
}

.about-us p {
    font-size: 12px;
}

.main-menu {
    position: absolute;
    bottom: 865px;
    left: 306px;
    width: 110px;
}

.footer {
    background-color: #333333;
    color: #ffffff;
}
