ul{
    list-style-type: none;
    display: list-item;
    background-color: green;
    text-align: left;
    padding: 0px;
    width: 15%;
    height: 15%;
}
li{
    list-style-type: none;
    padding: 10px;
}
.w1{
    color: white;
    text-align: left;
    margin-left: -10px;
}
.gold1{
    background-color: orangered;
    text-align: left;
    margin-left: 15px;
    width: 90%;

}
.hr1{
    color: white;

}
table{

}
div{
    border-bottom-color: white;

}