.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    margin: 0 auto;
    max-width: 900px;
    background-color: lightskyblue;
    padding: 8px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    padding: 30px;
    background: midnightblue;
    border: 2px solid white;
    border-radius: 20px;
}
.txtShadow {
    font-weight: bold;
    font-size: 30px;
    color: white;
    letter-spacing: .1em;
    text-shadow: -3px -3px #799fff, 1px 2px red;
}
.sidebar {
    grid-column-start: 11;
    grid-column-end: 13;
    height: 550px;
    writing-mode: tb;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: inset 12px 12px 30px #ff9416;
    background-color: white;
}
.txt{
    font-size: 20px;
    font-weight: bold;
    padding-right: 25px;
    color: #ff9416;
}
.cols3{
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
.colsTxt{
    overflow: auto;
    padding: 5px;
    background-color: white;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    max-height: 200px;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 13;
    background: midnightblue;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
}
.foot{
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
.image{
    grid-column-start: 1;
    grid-column-end: 11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 275px 275px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
}
.img{
    border-radius: 20px;
    background: url("seasons.jpg") no-repeat;
    background-size: 200%;
}
.img1{
    background-position: 0 -70px;
}
.img2{
    background-position: -375px -70px;
}
.img4{
    background-position: -375px -350px;
}
.img3{
    background-position: 0 -350px;
}
.img1:hover{
    transform: translate(50%, 50%) scale(2);
}
.img2:hover{
    transform: translate(-50%, 50%) scale(2);
}
.img3:hover{
    transform: translate(50%, -50%) scale(2);
}
.img4:hover{
    transform: translate(-50%, -50%) scale(2);
}
@media (max-width: 768px) {

    .sidebar,
    .cols3,
    .image {
        grid-column: 1 / 13;
    }
}