.container{
    width:900px;
    height: 1000px;
    background-color: lightskyblue;
    margin: auto;
    padding: 8px;
}
.header{
    text-align: center;
    padding: 30px;
    background: midnightblue;
    border: 2px solid white;
    border-radius: 20px;
}
.txtShadow {
    font-weight: bold;
    font-size: 30px;
    color: white;
    letter-spacing: .1em;
    text-shadow: -3px -3px #799fff, 1px 2px red;
}
.sidebar {
    width: 130px;
    height: 550px;
    margin-top: 8px;
    writing-mode: tb;
    text-align: center;
    border: 2px solid white;
    float: right;
    border-radius: 20px;
    box-shadow: inset 12px 12px 30px #ff9416;
    background-color: white;
}
.txt{
    font-size: 20px;
    font-weight: bold;
    padding-right: 25px;
    color: #ff9416;
}
.image{
    margin-top: 8px;
    width: 750px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
}
.img{
    width: 375px;
    height: 275px;
    border-radius: 20px;
    float: left;
    background: url("seasons.jpg") no-repeat;
    background-size: 200%;
}
.img1{
    background-position: 0 -70px;
}
.img2{
    background-position: -375px -70px;
}
.img4{
    background-position: -375px -350px;
}
.img3{
    background-position: 0 -350px;
}
.img1:hover{
    transform: translate(50%, 50%) scale(2);
}
.img2:hover{
    transform: translate(50%, 50%) scale(2);
}
.img3:hover{
    transform: translate(50%, 50%) scale(2);
}
.img4   :hover{
    transform: translate(50%, 50%) scale(2);
}


