table {
     border-collapse: collapse;
 }
table td {
    background-color: #FFFACD;
    border: 3px solid lightgray;
    text-align: center;
    padding: 15px;
    width: 180px;
    height: 220px;
}

table th {
    background-color: blue;
    color: white;
    width: 80px;
    padding-right: 1px;
    padding-left: 1px;
    border: 3px solid lightgray;
}
.white{
    background-color: white;
}
