.cell1{
    text-align: center;
}
table.table1 td {
    border: 1px solid black;
}
table.table1 {
    border: 1px solid black;
}
table.table1  th{
    padding: 10px;
    border: 1px solid black;
}

table.table2 {
    background-color: gold;
    border-collapse: collapse;
}
table.table2 td {
    border: 3px solid lightgray;
    padding: 5px;
    padding-right: 30px;
}
table.table2  th{
    border: 3px solid lightgray;
    padding: 5px;
    padding-right: 30px;
}
.col-1 {
    background-color: aqua;
}
.col-2 {
    background-color: coral;
}

table.table3 {
    font-family: Calibri;
    vertical-align: top;
    border-collapse: collapse;
}
table.table3 td {
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}
table.table3  th{
    text-align: center;
    border: 3px solid black;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.row-1 {
    background-color: gold;
}
.row-2 {
    background-color: green;
    font-weight: 900;
}
.col-3 {
    background-color: cyan;
}

table.table4{
    font-family: Arial;
    border-collapse: collapse;
}
table.table4 td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
}
table.table4  th{
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

table.table5{
    font-family: Arial;
    border-collapse: collapse;
}
table.table5 td {
    font-family: cursive;
    border: 3px solid brown;
    padding: 8px;
}
table.table5 caption{
    font-size: 24px;
    text-align: left;
    height: 45px;
    border: 2px solid brown;
    border-bottom: 0px;
    padding: 5px;
}
.row-3 {
    background-color: antiquewhite;
}
.row-4 {
    background-color: blue;
    vertical-align: top;
}

table.table6{
    font-family: Arial;
    border-collapse: collapse;
}
table.table6 td {
    font-family: cursive;
    border: 3px solid  lightgreen;
    padding: 8px;
}
table.table6 caption{
    caption-side: bottom;
    font-size: 12px;
    text-align: left;
    height: 14px;
    border: 2px solid lightgreen;
    border-top: 0px;
    padding: 4px;
}
.row-5 {
    background-color: darkgreen;
    color: gold;
}
.row-6 {
    text-align: center;
    background-color: goldenrod;
    height: 200px;
    width: 25%;
    font-size: 26px;
}
.row-7{
    font-size: 20px;
    height: 150px;
    width: 25%;
    background-color: blanchedalmond;
    text-align: left;
    vertical-align: top;
}

table.table7{
    font-family: Arial;
    border-collapse: collapse;
}
table.table7 td {
    font-family: cursive;
    border: 3px solid brown;
    padding: 8px;
}
.cell2{
    text-align: center;
    width: 28%;
    height: 220px;
    background-color: midnightblue;
    color: bisque;
}
.cell3{
    font-size: 25px;
    height: 50px;
    background-color: blueviolet;
}
.cell4{
    background-color: lightpink;
    height: 20px;
    font-size: 18px;
}
.cell5{
    background-color: bisque;
    font-size: 22px;
}

