table{
    height: 400px;
    width: 370px;
    border: 2px solid gray;
    background: lightgray;
}

td:nth-child(1){
    text-align: right;
}

label input, textarea, tr:nth-child(7) td:nth-child(2) select{
    width: 200px;
}
tr:nth-child(7) td:nth-child(2) select{
    padding: 4px;
}
tr:nth-child(1) td:nth-child(2) input,
tr:nth-child(4) td:nth-child(2) input,
tr:nth-child(5) td:nth-child(2) input
{
    background-color: #ffd57a;
    border: 2px solid #ff8616;

}
tr:nth-child(2) td:nth-child(2) input,
tr:nth-child(3) td:nth-child(2) input{
    background-color: #ffa2d0;
    border: 2px solid fuchsia;
}
tr:nth-child(7) td:nth-child(2) select{
    background-color: #a8abff;
    border: 2px solid blue;
}

textarea{
    height: 60px;
    background-color: #b1ff84;
    border:2px solid #43d614;
}
tr:nth-child(10) td:nth-child(2) input:nth-child(1){
    background-color: #94ff80;
}
tr:nth-child(10) td:nth-child(2) input:nth-child(2){
    background-color: #ff6a6b;
}