table  {
    margin-left: 200px;
    border-collapse: collapse;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
#icon {
    float: left;
    width: 50px;
    height: 50px;
}
td  {
    width: 200px;
    font-family: Arial;
    color: grey;
    font-style: italic;
}
div {
    padding-top: 12px;
    font-weight: bold;
    font-size: 18pt;
}
td:nth-child(2) {
    width: 700px;
    font-size: 16pt;
    text-align: center;
    vertical-align: center;
}
.description {
    text-align: center;
    font-size: 11pt;
    vertical-align: top;
    height: 50px;
}
tr:first-child td{
    height: 80px;
    font-style: normal;
}