li{
    list-style-type: none;
}
a{
    text-decoration-line: none;
}
ul.nav li{
    display: inline;
    border: 1px solid #B0C7D8;
    padding: 10px 5px;
    border-radius: 5px;
}
ul.nav a{
    font-size: 20px;
    padding: 5px;
    color: #877160 ;
}
ul.nav li:nth-child(1){
    margin-right: 10px;
}
ul.nav li:nth-child(2),
ul.nav li:nth-child(3),
ul.nav li:nth-child(4){
    margin-right: 10px;
}
ul.nav li:hover,
ul.nav li:hover a{
    background-color: #607788;
    color: white;
}