.back{
    position: absolute;
}
.gayka{
    position: absolute;
    padding-left: 290px;
    padding-top: 310px;
}
.rock{
   position: absolute;
    padding-top: 555px;
}
.chip{
    position: absolute;
    padding-left: 980px;
    padding-top: 340px;
}
.deyl{
    position: absolute;
    padding-left: 780px;
    padding-top: 360px;
}
.deyl2{
    position: absolute;
    padding-left: 250px;
    padding-top: 190px;
}
.fly{
    position: absolute;
    padding-left: 910px;
    padding-top: 550px;
}