body {
    background: green;
}
.div1{
    background: red;
    background-image: url("white_sprait.png");
    background-position: 5px 5px;
    width: 100px;
    height: 100px;
    float: left;
}
.div2{
    width: 100px;
    height: 100px;
    background: dodgerblue;
    background-image: url("white_sprait.png");
    background-position: 400px 5px;
    float: left;
}
.div3{
    width: 100px;
    height: 100px;
    background: orange;
    background-image: url("white_sprait.png");
    background-position: 300px 5px;
    float: left;
}
.div4{
    width: 100px;
    height: 100px;
    background: blue;
    background-image: url("white_sprait.png");
    background-position: 200px 5px;
    float: left;
}
.div5{
    width: 100px;
    height: 100px;
    background: darkorange;
    background-image: url("white_sprait.png");
    background-position: 100px 5px;
    float: left;
}
.div6{
    width: 100px;
    height: 100px;
    background: blue;
    background-image: url("white_sprait.png");
    background-position: 5px 105px;
    float: left;
}
.div7{
    width: 100px;
    height: 100px;
    background: yellow;
    background-image: url("white_sprait.png");
    background-position: 400px 105px;
    float: left;
}
.div8{
    width: 100px;
    height: 100px;
    background: red;
    background-image: url("white_sprait.png");
    background-position: 300px 105px;
    float: left;
}
.div9{
    width: 100px;
    height: 100px;
    background: dodgerblue;
    background-image: url("white_sprait.png");
    background-position: 200px 105px;
    float: left;
}
.div10{
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    background-image: url("white_sprait.png");
    background-position: 100px 105px;
    float: left;
}